*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 900px;
    height: 600px;
    background-color: blue;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.login-content-1,
.login-content-2{
    width: calc(100% / 2);
    height: 100%;
}

.login-content-1{
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content-1 img{
    width: calc(100% - 60px);    
}

.login-content-2{
    background-color: yellow;
    padding: 40px 20px;
}

.login-header h1{
    font-family: sans-serif;
}

.login-header p{
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 5px;
    color: #707070;
}

/* login input */

.login-input{
    width: 100%;
    margin-top: 40px;
}

.login-input-content{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.login-input-content input{
    width: 100%;
    height: 45px;
    border: 1px solid rgb(230, 230, 230);
    outline: none;
    padding: 0 10px 0 35px;
    border-radius: 5px;
}

.login-input-content i{
    position: absolute;
    left: 10px;
}

.login-input .login-input-content:last-child{
    margin-top: 20px;
}

/* login kf */

.login-kf{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

.login-kf-1{
    width: calc(100% / 2);
}

.login-kf-1 label{
    font-family: sans-serif;
    font-size: 14px;
}

.login-kf-2{
    width: calc(100% / 2);
    display: flex;
    justify-content: right;
}

.login-kf-2 a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

.login-kf-2 a:hover{
    color: blue;
}

.login-button{
    width: 100%;
}

.login-button input{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 68, 255);
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.login-button input:hover{
    background-color: rgb(0, 55, 207);
}